# Ignore everything in this directory
/public/uploads
# Except this file
!.gitignore
/app/config/database.php
/app/config/environment.php
/app/assets/bower_components
/public/css
/public/js
/public/images
/public/vendor
/public/lib
node_modules
